body {
  background-color: lightyellow;
}
.sidebar {
  float: left;
  background-color: brown;
  border: solid black 3px;
  margin: 10px;
  padding: 5px;
  width: 300px;
}

.important {
  font-style: italic;
  font-family: sans-serif;

}

.history {
  width: 20%;
  border: solid darkblue 5px;
  margin: 0px;
  margin-left: 1%;
  float: left;
  background-color: lightgreen;
}

.first-block {
  /*margin-left: 10%*/
}

.members {
  float: right;
  border: black 3px solid;
  width: 300px;
  margin-right: 3%;
  margin-left: 20px;
}
img {
  width: 100%;
  margin: 0px;
  padding: 0px;
}
h3 {
  text-decoration: underline;
  font-size: 30px;
    text-align: center;
}

h1 {
  font-size: 80px;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

h2 {
  margin-top: 5px;
}

li p {
  font-style: italic;
}
